<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>



<!--    <conversionRule conversionWord="stack" converterClass="net.logstash.logback.stacktrace.ShortenedThrowableConverter" />-->

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                web - %date [%thread] %-5level %logger{5} - %message%n%stack{5,1}-->
<!--            </pattern>-->
<!--        </encoder>-->

<!--    </appender>-->

<!--    <logger name="com.amberlight" level="DEBUG" />-->

<!--    &lt;!&ndash; to view SQL statements, change to DEBUG &ndash;&gt;-->
<!--    <logger name="org.hibernate.SQL" level="WARN" />-->

<!--    <logger name="org.springframework" level="WARN" />-->
<!--    <logger name="org.springframework.transaction" level="WARN" />-->

<!--    &lt;!&ndash; in order to debug some marshalling issues, this needs to be TRACE &ndash;&gt;-->
<!--    <logger name="org.springframework.web.servlet.mvc" level="WARN" />-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->


</configuration>